@using Web.Models.Rooms
@using Data.Enumeration
@model Web.Models.Rooms.RoomsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        table, th, td {
            text-align: center;
            white-space: nowrap;
        }

        .change-page-display-amount {
            background: #e8e8e8;
            border: 2px solid #d8d8d8;
            color: black;
            font: bold;
        }
    </style>
</head>
<body>
    <h1>Complete information about all hotel rooms</h1>
    <p>DISCLAIMER: Under-age clients are charged differently than adult ones (under-age prices are writen in brackets next to the adult ones) </p>

    <br />
    <form asp-action="Index" asp-controller="Rooms" method="post" id="filterForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-2 form-group">
                <h3><b>FILTER BY</b></h3>
            </div>
            <div class="col-md-2 form-group">
                <input asp-for="Filter.Capacity" class="form-control" placeholder="Max capacity" />
                <span asp-validation-for="Filter.Capacity" class="text-danger"></span>
            </div>
            <div class="col-md-2 form-group">
                @Html.DropDownListFor(model => Model.Filter.IsFree, new List<SelectListItem>
                    () { new SelectListItem() { Text = "Free", Value = "True" }, new SelectListItem() { Text = "Occupied", Value = "False" } }, "Status", new { @class = "form-control" })
                <span asp-validation-for="Filter.IsFree" class="text-danger"></span>
            </div>
            <div class="col-md-3 form-group">
                @Html.DropDownList("Filter.Type", Html.GetEnumSelectList<RoomTypeEnum>(), "Room type", new { @class = "form-control" })
                <span asp-validation-for="Filter.Type" class="text-danger"></span>
            </div>


            <div class="col-md-1 form-group text-center">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>

    <br />

    <div style="float: right">
        <ul class="pagination">
            <li class="page-item" align="right">
                <a asp-action="ChangePageSize" asp-route-id="10" class="page-link change-page-display-amount">10</a>
            </li>
            <li class="page-item" align="right">
                <a asp-action="ChangePageSize" asp-route-id="25" class="page-link change-page-display-amount">25</a>
            </li>
            <li class="page-item" align="right">
                <a asp-action="ChangePageSize" asp-route-id="50" class="page-link change-page-display-amount">50</a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="pagination">
            @for (var i = 1; i <= Model.Pager.PagesCount; i++)
            {
                <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                    <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
                </li>
            }

        </ul>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Capacity
                </th>
                <th>
                    Type
                </th>
                <th>
                    IsFree
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (RoomsViewModel item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    @if (item.IsFree)
                    {
                        <td>free</td>
                    }
                    else
                    {
                        <td>occupied</td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceAdult) &nbsp;
                        (@Html.DisplayFor(modelItem => item.PriceChild))
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            <tr style="background:#f0f0f0">
                <td colspan="5"></td>
                <td>
                    <a asp-action="Create"><b>Create new</b></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

<script>
    function showHideFilter() {
        var d = document.getElementById("filterForm");
        d.hidden = !d.hidden;
    }
</script>